<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671921732928-ked3me3ihfpcv7jihddoacnshq6v0ceg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671921732928-ked3me3ihfpcv7jihddoacnshq6v0ceg</string>
	<key>API_KEY</key>
	<string>AIzaSyASoYoeaf99mQCMmkMTtghKeIEG8dBRKHE</string>
	<key>GCM_SENDER_ID</key>
	<string>671921732928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.assan.takemura.Tabatan3</string>
	<key>PROJECT_ID</key>
	<string>tabatan3-d0a14</string>
	<key>STORAGE_BUCKET</key>
	<string>tabatan3-d0a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671921732928:ios:2c1ebb23c16f5a280fcea5</string>
	<key>DATABASE_URL</key>
	<string>https://tabatan3-d0a14.firebaseio.com</string>
</dict>
</plist>